<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBix_G-T94Ydq8hZpk4nvxu0Ci8bVkYYsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>709918538020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.promotionproject</string>
	<key>PROJECT_ID</key>
	<string>promotion-project-07mq0z</string>
	<key>STORAGE_BUCKET</key>
	<string>promotion-project-07mq0z.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709918538020:ios:73575fa8eab0d277cadbb1</string>
</dict>
</plist>